﻿
@{
    ViewBag.Title = "Add_To_Card";
    Layout = "~/Views/Shared/client.cshtml";
}

<div class="container">
    <div class="row" style="text-align:center">
        <div class="col" style="text-align:center; margin-bottom:50px">
            <b style="font-size:50px;color:red">Giỏ hàng</b>
        </div>
    </div>
</div>
@if (Session["user"] == null)
{
    <div class="container">
        <div class="row" style="text-align:center">
            <div class="col" style="text-align:center; margin-bottom:50px">
                <b style="font-size:30px;color:red">Bạn cần đăng nhập để thêm sản phẩm vào giỏ hàng!</b>
            </div>
        </div>
    </div>
}

