﻿
@{
    ViewBag.Title = "Bill_Detail";
    Layout = "~/Views/Shared/admin.cshtml";
}

<style>
</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chi tiết hóa đơn</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/test/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Chi tiết hóa đơn</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@*<form class="form-inline ml-3" method="post" action="/bill/Index">
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <input class="search_input" type="text" name="key" placeholder="Tìm kiếm">
                    <button type="submit" class="btn btn-primary" style="background-color:white; border-color:white; color:blue">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <br>*@

<!-- Main content -->
@foreach (var item in ViewBag.Cus_Detail)
{
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-2">
            <b>Số hóa đơn:</b>
        </div>
        <div class="col-2">
            @item.ID_Bill
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-2">
            <b>Tên khách hàng:</b>
        </div>
        <div class="col-2">
            @item.Cus_Name
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-2">
            <b>Email:</b>
        </div>
        <div class="col-2">
            @item.Cus_Email
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-2">
            <b>Số điện thoại: </b>
        </div>
        <div class="col-2">
            <r>0</r>@item.Cus_Phone
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-2">
            <b>Địa chỉ nhận hàng:</b>
        </div>
        <div class="col-2">
            @item.Bill_Add
        </div>
    </div>
}

<section class="content">
    <div class="card-body pad">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title" style="text-align:center; width:100%">Bảng chi tiết</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr align="center">
                                    <th>Tên sản phẩm</th>
                                    <th>Màu sắc</th>
                                    <th>Tên hãng</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    @*<th>Action</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.bill_detail)
                                {
                                    <tr class="odd gradeX" align="center">
                                        <td>@item.Pro_Name</td>
                                        <td>@item.Pro_Color</td>
                                        <td>@item.Pro_Brand</td>
                                        <td>@item.Quantity</td>
                                        <td>@string.Format("{0:#,##0}",@item.Pro_Price)</td>
                                        @*<td>
                                                @Html.ActionLink("Chi tiết", "Bill_Detail", new { id = item.ID })
                                                <i class="fa fa-trash-o" fa-fw></i>@Html.ActionLink("Sửa", "Edit", new { id = item.ID })
                                                    <i class="fa fa-pencil fa-fw"></i>@Html.ActionLink("Xóa", "Delete", new { id = item.ID })
                                            </td>*@
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr align="center">
                                    <th>Tên sản phẩm</th>
                                    <th>Màu sắc</th>
                                    <th>Tên hãng</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div>
                            <br />
                            <div class="row" style="background-color:aqua">
                                <div style="text-align:right" class="col-6">$ Tổng tiền : </div>
                                <div class="col-6" style="text-align:left">
                                    @{
                                        decimal a = 0;
                                        decimal b = 0;
                                        foreach (var item in ViewBag.bill_detail)
                                        {
                                            a = a + item.Pro_Price * item.Quantity;

                                        }
                                        <p>@string.Format("{0:#,##0}",@a)</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
