﻿
@{
    ViewBag.Title = "Image";
    Layout = "~/Views/Shared/admin.cshtml";
}

@*@using PagedList;
@using PagedList.Mvc;
@model IPagedList<thuctap.Models.New_Image>*@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Hình ảnh</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/test/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Hình ảnh</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<br>
<div class="row">
    <div class="col-1">

    </div>
    <div class="col-4">
        <div>
            <br />
            <br />
            <br />
        </div>
        <div class="card card-primary" style="margin-top: 10px">
            <div class="card-header">
                <h3 class="card-title" style="text-align:center; width:100%">Form thêm hình ảnh</h3>
            </div>
            <form method="post" action="/newImageController/Image">
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr align="center">
                                <th>ID New</th>
                                <th>Hình ảnh</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="odd gradeX" align="center">
                                <td>
                                    @*
                                        <input type="text" class="form-control" placeholder="Điền tên hình ảnh" name="Mau">*@
                                    <input required="" type="text" name="ID_Tin" list="dl">
                                    <datalist id="dl">
                                        @foreach (var item in ViewBag.news)
                                        {
                                            <option value="@item.ID">@item.Title</option>
                                        }
                                    </datalist>
                                </td>
                                <td>
                                    <input required="" type="text" class="form-control" placeholder="Điền link ảnh" name="Anh">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <b style="color:red; text-align:center">@ViewBag.test</b>
        </div>
        <div>
            <br />
            <br />
        </div>
        <div class="card card-primary" style="">
            <div class="card-header" style="background-color:sandybrown">
                <h3 class="card-title" style=" text-align:center; width:100%">Thông tin 3 hình ảnh được thêm gần nhất</h3>
            </div>
            <div class="card-body">
                <table id="table" class="table table-bordered table-hover">
                    <thead>
                        <tr align="center">
                            <th>ID New</th>
                            <th>Hình ảnh</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ima)
                        {
                            <tr class="odd gradeX" align="center">
                                <td>@item.ID_New</td>
                                <td><img style="width:70px; height:70px" src="@item.Image" /></td>
                                <td>
                                    @Html.ActionLink("Xóa", "Delete_img", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>