﻿
@{
    ViewBag.Title = "Search_co";
    Layout = "~/Views/Shared/admin.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<thuctap.Models.Product_Color>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Màu sắc sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/test/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Màu sắc sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<br>
<div class="row">
    <div class="col-1">

    </div>
    <div class="col-4">
        <div>
            <br />
            <br />
            <br />
        </div>
        <div class="card card-primary" style="margin-top: 10px">
            <div class="card-header">
                <h3 class="card-title" style="text-align:center; width:100%">Form thêm màu</h3>
            </div>
            <form method="post" action="/productColor/Color">
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr align="center">
                                <th>ID sản phẩm</th>
                                <th>ID màu</th>
                                <th>Số lượng</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="odd gradeX" align="center">
                                <td>
                                    <input required="" type="text" name="ID_SP" style="width:100px" list="dl" placeholder="Điền ID sản phẩm">
                                    <datalist id="dl">
                                        @foreach (var item in ViewBag.product)
                                        {
                                            <option value="@item.ID">@item.Name </option>
                                        }
                                    </datalist>
                                    @*<input type="text" class="form-control" placeholder="Điền ID sản phẩm" name="ID_SP">*@
                                </td>
                                <td>
                                    <input required="" type="text" name="Mau" list="dl1" style="width:100px" placeholder="Điền ID màu">
                                    <datalist id="dl1">
                                        @foreach (var item in ViewBag.co)
                                        {
                                            <option value="@item.ID">@item.Color </option>
                                        }
                                    </datalist>
                                    @*<input type="text" class="form-control" placeholder="Điền ID màu" name="Mau">*@
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Điền số lượng" name="SL">
                                </td>
                                <!--<td>-->
                                @*<img src="@Model.Image" width="100" height="100" />*@
                                <!--<input type="text" class="form-control" placeholder="Điền link ảnh" name="Anh">
                                </td>-->
                                <td>
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <b style="text-align:center; color:red">@ViewBag.test</b>
        </div>
        <div>
            <br />
            <br />
        </div>
        <div class="card card-primary" style="">
            <div class="card-header" style="background-color:sandybrown">
                <h3 class="card-title" style=" text-align:center; width:100%">Thông tin 3 màu được thêm gần nhất</h3>
            </div>
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr align="center">
                            <th>ID sản phẩm</th>
                            <th>ID màu</th>
                            <th>Số lượng</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.color)
                        {
                            <tr class="odd gradeX" align="center">
                                <td>@item.ID_Product</td>
                                <td>@item.ID_Color</td>
                                <td>@item.Quantity</td>
                                <td>
                                    @Html.ActionLink("Xóa", "Delete_co", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-1">

    </div>
    <div class="col-5">
        <form class="form-inline ml-3" method="post" action="/productColor/Search_co">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input required="" type="text" name="key" list="dl" placeholder="Tìm kiếm">
                        <datalist id="dl">
                            @foreach (var item in ViewBag.product)
                            {
                                <option value="@item.ID">@item.Name </option>
                            }
                        </datalist>
                        <button type="submit" class="btn btn-primary" style="background-color:white; border-color:white; color:blue">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <section class="content">
            <div class="card-body pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title" style="text-align:center; width:100%">Bảng màu</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr align="center">
                                            <th>ID sản phẩm</th>
                                            <th>ID màu</th>
                                            <th>Số lượng</th>
                                            <th>Aciton</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="odd gradeX" align="center">
                                                <td>@item.ID_Product</td>
                                                <td>@item.ID_Color</td>
                                                <td>@item.Quantity</td>
                                                <td>
                                                    @Html.ActionLink("Xóa", "Delete_co", new { id = item.ID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr align="center">
                                            <th>ID sản phẩm</th>
                                            <th>ID màu</th>
                                            <th>Số lượng</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div style="margin-left:0px" class="paginate">
                                        @Html.PagedListPager(Model, page => Url.Action("Color", "productColor", new { page }))
                                    </div>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>
    <div class="col-1">

    </div>
</div>






