﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/client.cshtml";
}


<div class="container">
    <div class="row" style="text-align:center">
        <div class="col" style="text-align:center; margin-bottom:50px">
            <b style="font-size:50px;color:red">Danh sách yêu thích <i class="fa fa-heart"></i></b>
        </div>
    </div>
</div>
@if (ViewBag.fl == null)
{
    <div class="container">
        <div class="row" style="text-align:center">
            <div class="col" style="text-align:center; margin-bottom:50px">
                <b style="font-size:30px;color:red">Bạn cần đăng nhập để thêm vào danh sách yêu thích!</b>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row" style="height:40px">
            <div class="col-2" style="text-align:center; font-size:23px; border:1px solid white;background-color:aliceblue">
                Ảnh sản phẩm
            </div>
            <div class="col-3" style="text-align:center; font-size:23px; border:1px solid white;background-color:aliceblue">
                Tên sản phẩm
            </div>
            <div class="col" style="text-align:center; font-size:23px; border:1px solid white;background-color:aliceblue">
                Mô tả
            </div>
            <div class="col-2" style="text-align:center; font-size:23px; border:1px solid white;background-color:aliceblue">
                Đơn giá
            </div>
            <div class="col-2" style="text-align:center; font-size:23px; border:1px solid white;background-color:aliceblue">
                Thao tác
            </div>
        </div>

        <hr />
        @foreach (var item in @ViewBag.fl)
        {
            <div class="row" style="height:150px">
                <div class="col-2" style="text-align:center; font-size:20px;border-left:1px solid white;background-color:aliceblue ">
                    <a href="/_clientProductDetail/Index?key=@item.ID_pro" style="color:black">
                        <img src="@item.Image" style="height:150px;width:150px" />
                    </a>
                </div>
                <div class="col-3" style="text-align:center; font-size:20px; border-left:1px solid white;background-color:aliceblue">
                    <br /><a href="/_clientProductDetail/Index?key=@item.ID_pro" style="color:black"> @item.Name</a>
                </div>
                <div class="col" style="text-align:center; font-size:20px; border:1px solid white;background-color:aliceblue"><br />
                    @item.Description
                </div>
                <div class="col-2" style="text-align:center; font-size:20px; border:1px solid white;background-color:aliceblue">
                    <br /> @string.Format("{0:#,##0}", @item.Price)đ
                </div>
                <div class="col-2" style="text-align:center; font-size:20px; border:1px solid white;background-color:aliceblue">
                    <br /><a href="/_clientFavoriteList/Delete?key=@item.ID" style="color:black"><i class="fa fa-trash"></i> Xóa</a>
                </div>
            </div>
            <hr />
        }
    </div>
}


