﻿
@{
    ViewBag.Title = "brand";
    Layout = "~/Views/Shared/client.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<thuctap.Models.Product>
<div style="font-size:30px;font-weight:bolder;color:red;margin-bottom:30px">
    @ViewBag.tb: @ViewBag.count!
    <hr />
</div>

<div class="row" style="margin:0px;margin-top:20px">
    @foreach (var item in Model)
    {
        <div class="col-3" style="border: 5px solid #f7f7f7;text-align:center">
            <div style="height:240px">
                <a href="/_clientProductDetailController/Index?key=@item.ID"><img src="@item.Image" style="width:250px; height:230px" /></a>
            </div>
            <div style="height:55px">
                <a href="/_clientProductDetailController/Index?key=@item.ID"><p><b>@item.Name</b></p></a>
            </div>
            <div style="height:130px">
                <p style=" font-size:14px">@item.Description</p><br />
            </div>
            <div style="height:70px">
                <p><b style="text-decoration:line-through; font-size:15px;font-weight:bold">@string.Format("{0:#,##0}", @item.Price)đ</b></p>
                <b style="color:white; background-color:orange;font-size:18px; border-radius:15px; padding:4px;font-weight:bold">@string.Format("{0:#,##0}", @item.Promotion_Price)đ</b>
            </div>

        </div>
    }
<div class="row">
    <div style="margin-left: 50%;" class="paginate">
        @Html.PagedListPager(Model, page => Url.Action("brand", "_clientProductDetailController", new { page, brand = Convert.ToString(Session["brand"]) }))
    </div>
</div>
</div>

