﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/client.cshtml";
}

<div style="margin-bottom:30px">
    <a style="font-size:20px" href="/_clientProduct/Home/Index">Trang chủ /</a>
    <b style="font-size:20px">
        @foreach (var item in @ViewBag.ctsp)
        {
            @item.Name
        }
    </b>
    <hr />
</div>


<div class="row">
    <div class="col-6">
        <div class="container">
            <div style="text-align:center; margin:5px">
                @foreach (var item in @ViewBag.ctsp)
                {
                    <img src="@item.Image" style="width:90%;height:90%" />
                }
            </div>
            <div class="row" style="text-align:center; margin:5px">
                
                    @foreach (var item in @ViewBag.image)
                    {
                        <div class="col-3" style="border:2px solid #dedede">
                        <img src="@item.Image" style="width:90%;height:90%" />
                        </div>
                    }
                @*
                <div class="col-3" style="border:2px solid #dedede">
                    @foreach (var item in @ViewBag.ctsp)
                    {
                        <img src="@item.Image" style="width:90%;height:90%" />
                    }
                </div>
                <div class="col-3" style="border:2px solid #dedede">
                    @foreach (var item in @ViewBag.ctsp)
                    {
                        <img src="@item.Image" style="width:90%;height:90%" />
                    }
                </div>
                <div class="col-3" style="border:2px solid #dedede">
                    @foreach (var item in @ViewBag.ctsp)
                    {
                        <img src="@item.Image" style="width:90%;height:90%" />
                    }
                </div>*@

            </div>
        </div>


        @if (ViewBag.count == 0)
        {
            <div class="row" style="text-align:center;background-color:#dedede; margin:20px">
                <div class="col" style="margin-top: 5px; font-size: 40px; color: red; font-weight: bolder">Cháy hàng!</div><br /><br />
            </div>
        }
        else
        {
            <div class="row" style="text-align:center;background-color:#dedede; margin:20px">
                <div class="container">
                    <div class="row" style="font-size:25px;text-align:center;margin-top:5px;color:red;font-weight:bolder">
                        <div class="col">
                            Size
                        </div>
                    </div>
                    <div class="row" style="text-align:center; margin-top:5px;margin-bottom:10px; font-weight:bolder">
                        @*@foreach (var i in ViewBag.color)
            {*@
                        <div class="col">
                            <!--<a style="font-size:20px">i.Size--> @*(@i.Quantity)*@
                            <!--</a>
            <a href="/_clientCard/Add_To_Card?key=i.ID_Product_Color" style="font-size:20px;border:3px solid orange; background-color:orange;font-weight:bold; border-radius:20px; color:red">+<i class="fa fa-shopping-cart">
                        </i></a>-->
                            <button id="locsize" value="a" onclick="locsize()" style="border:1px solid black ;border-radius:3px" />38
                            @*<select id="locsize" onchange="locsize()">
                    <option value="a">39</option>
                    <option value="b">40  </option>
                    <option value="c">40  </option>
                </select>*@
                        </div>
                        <div class="col">
                            <button id="locsize1" value="b" onclick="locsize1()" style="border:1px solid black ;border-radius:3px" />39
                        </div>
                        <div class="col">
                            <button id="locsize2" value="c" onclick="locsize2()" style="border:1px solid black ;border-radius:3px" />40
                        </div>
                        <div class="col">
                            <button id="locsize3" value="d" onclick="locsize3()" style="border:1px solid black ;border-radius:3px" />41
                        </div>
                        <div class="col">
                            <button id="locsize4" value="e" onclick="locsize4()" style="border:1px solid black ;border-radius:3px" />42
                        </div>
                        @*}*@

                    </div>
                    <div id="Danh_Sach_Mau">

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" style="font-size:25px;text-align:center;margin-top:5px;color:red;font-weight:bolder">
                    <div class="col">
                        @foreach (var i in ViewBag.ID_pro)
                        {
                            <a href="/_clientFavoriteList/Add?key=@i.ID_Product_Color" style="border:10px solid orange; background-color:orange;font-weight:bold;
                                margin-right: 10px;border-radius:20px; color:red">+ <i class="fa fa-heart"></i> </a>
                        }
                        @*@foreach (var item in ViewBag.ID_pro)
                            {
                                <div class="col">
                                    <a href="/_clientCart/Add_To_Card?key=@item.ID_Product_Color" style="border:10px solid orange; background-color:orange;font-weight:bold;
                                    border-radius:20px; color:red">+ <i class="fa fa-shopping-cart"></i></a>
                               </div>
                            }*@
                        @foreach (var i in ViewBag.ctsp)
                        {
                            <a href="/_clientBill/Buy?key=@i.ID" style="border:10px solid orange; background-color:orange;font-weight:bold;
                        margin-left: 10px;border-radius:20px; color:white">Mua hàng</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-6">
        <div style="margin-left:5px">
            @foreach (var item in @ViewBag.ctsp)
            {
            <r style="color:red;font-size:30px; font-weight:bolder">@string.Format("{0:#,##0}", @item.Promotion_Price)đ</r><br />
                <r style="font-size:20px;font-weight:bold">$Giá gốc: </r><i style="font-size:20px;text-decoration:line-through;">@string.Format("{0:#,##0}",@item.Price)đ</i><br />
                <i style="font-size:16px"> @item.Description</i><br />
                <i style="font-size:16px"> Bảo hành @item.Warranty!</i><br /><br /><br />
                <r style="font-size:16px">
                    <br />
                    - Chất lượng REP 1:1 tốt nhất chuẩn 98% so với hàng REAL <br />
                    - Đi đúng size <br />
                    - Vận chuyển toàn quốc [ Kiểm Tra Hàng Trước Khi Thanh Toán ] <br />
                    - 100% Ảnh chụp trực tiếp tại Thắng Shoes <br />
                    - Bảo Hành Trọn Đời Sản Phẩm <br />
                    - Đổi Trả 7 Ngày Không Kể Lí Do <br />
                    - Liên Hệ : 0852.049.203<br />
                </r><br /><br />
            }
        </div>
    </div>
</div>


<script>
    function locsize() {

        var key = $("#locsize").val();
        $.ajax({
            url: "/_clientProductDetailController/locmau?&sortOrder=" + key,
            success: function (result) {
                $("#Danh_Sach_Mau").empty();
                $("#Danh_Sach_Mau").append(result);
            }
        })
    }
</script>
<script>
    function locsize1() {

        var key = $("#locsize1").val();
        $.ajax({
            url: "/_clientProductDetailController/locmau?&sortOrder=" + key,
            success: function (result) {
                $("#Danh_Sach_Mau").empty();
                $("#Danh_Sach_Mau").append(result);
            }
        })
    }
</script>
<script>
    function locsize2() {

        var key = $("#locsize2").val();
        $.ajax({
            url: "/_clientProductDetailController/locmau?&sortOrder=" + key,
            success: function (result) {
                $("#Danh_Sach_Mau").empty();
                $("#Danh_Sach_Mau").append(result);
            }
        })
    }
</script>
<script>
    function locsize3() {

        var key = $("#locsize3").val();
        $.ajax({
            url: "/_clientProductDetailController/locmau?&sortOrder=" + key,
            success: function (result) {
                $("#Danh_Sach_Mau").empty();
                $("#Danh_Sach_Mau").append(result);
            }
        })
    }
</script>
<script>
    function locsize4() {

        var key = $("#locsize4").val();
        $.ajax({
            url: "/_clientProductDetailController/locmau?&sortOrder=" + key,
            success: function (result) {
                $("#Danh_Sach_Mau").empty();
                $("#Danh_Sach_Mau").append(result);
            }
        })
    }
</script>
