﻿@*@model IPagedList<thuctap.Models.Product_Color>*@
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "locmau";
    Layout = null;
}
<div class="container" style="background-color:gold"            >
    <div class="row" id="Danh_Sach_Mau" >
        @if (ViewBag.color != null)
        {
            <div class="col" style="text-align:center">
                @foreach (var i in ViewBag.color)
                {
                    <a style="font-size:20px">
                        @i.Color
                    </a>
                    <a href="/_clientCard/Add_To_Card?key=@i.ID" style="font-size:20px;border:3px solid orange; background-color:orange;font-weight:bold; border-radius:20px; color:red">
                        +<i class="fa fa-shopping-cart">
                        </i>
                    </a>
                }
            </div>
        }
        else
        {
            <div class="col" style="color:red;font-size:30px">Hết hàng!</div>
        }
    </div>

</div>
