﻿
@{
    ViewBag.Title = "login";
    Layout = null;
}

<style>
    span {
        display: block;
        position: absolute;
        top: -10px;
        right: 5px;
    }

    div {
        position: relative;
    }
</style>
<script>
        isBool = true;
        function showpass() {
            if (isBool) {
                document.getElementById("password").setAttribute("type", "text");
                isBool = false;
            }
            else {
                document.getElementById("password").setAttribute("type", "password");
                isBool = true;
            }
        }

</script>

<div class="row">
    <div class="col-12">
    </div>
    <form class="form-signin" role="form" action="/_clientLogin/Index" method="post">
        <div>
            <img class="mb-4" src="~/Content/image/LogoLap.png" width=150 height=150>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <input type="text" class="form-control" placeholder="Email" autofocus name="Email">
            <div>
                <input type="password" id="password" class="form-control" placeholder="Password" name="PassWord">
                <span>
                    <img src="~/Content/image/mắt.png" width="35" onclick="showpass()" />
                </span>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" id="cb" value="remember-me">
                    Remember me
                </label>
                <p style="color:red">@ViewBag.error</p>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button><br />
            <p style="margin-bottom:-25px">Bạn chưa có tài khoản?</p>
            <a href="/_clientLogin/register">===>Đăng ký ngay<===</a>
            <p>-----Thangshoes.vn-----</p>
        </div>

    </form>
</div>



