﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/admin.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/test/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Form thêm sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="card-body pad">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" style="text-align:center; width:100%">Form thêm sản phẩm</h3>
                </div>
                <form method="post" action="/product/Create">
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr align="center">
                                    <th>Tên sản phẩm</th>
                                    <th>ID hãng</th>
                                    <th>Mô tả</th>
                                    <th>Giá gốc</th>
                                    <th>Giá khuyến mại</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" align="center">
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền tên sản phẩm" name="Ten">
                                    </td>
                                    <td>
                                        <input required="" type="text" name="ID_Hang" list="dl">
                                        <datalist id="dl">
                                            @foreach (var item in ViewBag.brand)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        </datalist>
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền mô tả" name="MoTa">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền giá gốc" name="Pri">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền giá KM" name="Pro_Price">
                                    </td>


                                </tr>
                            </tbody>
                            <thead>
                                <tr align="center">
                                    <th>Avatar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" align="center">
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền link ảnh" name="Anh">
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr align="center">
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" align="center">
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền thời hạn bảo hành" name="Warr">
                                    </td>
                                    <td style="text-align:center">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <h3 style="text-align:center; color:red">@ViewBag.test</h3>
            </div>

            <!-- /.card -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header" style="background-color:sandybrown">
                    <h3 class="card-title" style=" text-align:center; width:100%">Thông tin 3 sản phẩm được thêm gần nhất</h3>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr align="center">
                                <th>Tên</th>
                                <th>ID hãng</th>
                                <th>Mô tả</th>
                                <th>Giá gốc</th>
                                <th>Giá khuyến mại</th>
                                <th>Avatar</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="odd gradeX" align="center">
                                    <td>@item.Name</td>
                                    <td>@item.ID_Brand</td>
                                    <td>@item.Description</td>
                                    <td>@string.Format("{0:#,##0}", @item.Price)đ</td>
                                    <td>@string.Format("{0:#,##0}", @item.Promotion_Price)đ</td>
                                    <td><img src="@item.Image" width="100" height="100" /></td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit_cre", new { id = item.ID })
                                        @*<i class="fa fa-trash-o" fa-fw></i>@Html.ActionLink("Sửa", "Edit_cre", new { id = item.ID })
                                            <i class="fa fa-pencil fa-fw"></i>@Html.ActionLink("Xóa", "Delete_cre", new { id = item.ID })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*<select name="a">
                            @foreach (var item in Model)
                            {

                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>*@
                </div>
            </div>
        </div>
    </div>
</div>
